Scripts/TensorCache/
Scripts/DownloadCache/
Scripts/__pycache__/

Scripts/Arch/__pycache__/
Scripts/Arch/Datasets/__pycache__/
Scripts/Arch/Models/__pycache__/
Scripts/Arch/Datasets/DatasetsCfg.json

Trainer/*/*.pth
Trainer/*/Features/
Trainer/trainer.log

Dataset/**/*.pth
Dataset.tar.gz